/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/blog/live/*
/resources/public/blog/drafts/*
/*.pem
/src/backend/keys
/src/backend/keys/*
/src/templates/tracking.clj
/resources
/.clj-kondo/.cache